<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'/>
    <link rel="stylesheet" href="./styles/styles.css" type="text/css" /> 
    <title>Welcome page</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light" class="nabvar">
      <span class="navbar-brand mb-0 h1"><img src="./styles/images/went.png" alt="went logo" class="logo"></span>
      <a href="./login" class="btn btn-secondary btn-sm login-button" data-toggle="popover" id="log-btn">Log in</a>
    </nav>

    {{{body}}}

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="../public/assets/js/script.js"></script>
</body>
</html>  