<br>
<br>
<div class="container">
    <div class="row">
        
        <div class="col-8">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="./styles/images/went.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="test-name">Name</h5>
                            <p class="card-text">Are you planning on going to some concert, music or attend the sport game? You can find the upcoming events here very easy! According to your requested zip code you gonna get the events that might be interested to you. Just type the zip code, choose the category and click the search button</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Saved Events</li>
                                <li class="list-group-item">Events Going</li>
                                <li class="list-group-item">Messages</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            {{!-- <div class="card" style="width: 18rem;" id="profile-card">
                <img src="./styles/images/went.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" id="test-name">Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Saved Events</li>
                    <li class="list-group-item">Events Going</li>
                    <li class="list-group-item">Messages</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div> --}}
            
            
        </div>
        <span>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div id="forecast"></div>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>    
<br>
<hr>
<br>
    <div class="container"> 
        <div class="row">
            
            <div class="col-12">
                <div class="card" id="events-card">
                    
                    <div id="event"></div>
                    <div id="event-detail"></div>
                </div>
            </div>
        </div>
        <br>
    </div>  