<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" id="card">
      <h1 id="eventName">Event Name</h1>
      <img src="" alt="Event Picture" id="image" /> 
      <div id="event">
        
        <p id="address"></p>
        <p id="city"></p>
        <p id="time"></p>
        <p id="venueName"></p>
        <p id="description"></p>
      </div>
      <p></p>
      {{!-- <a href="/login" class="btn btn-secondary" data-toggle="popover">Going</a> --}}
      <button type="button" class="btn btn-secondary btn-md" data-toggle="popover">Going</button>
    </div>
  </div>
</div>

<!-- Jai's dummy chat -->
<div class="jumbotron">
  <h1 class="text-center">What are people saying about this event?</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>say it out loud</h2>
      <hr>
      <div id="comment-area"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="cool-font">Name</p>
      <input class="form-control" type="text" id="author" placeholder="Enter Your Name">
      <br>
      <p class="cool-font">Comment</p>
      <textarea class="form-control" rows="3" id="comment-box" placeholder="Enter Comment Here!"></textarea>
      <button id="comment-submit" class="btn btn-lg pull-right">Submit!</button>
    </div>
  </div>
</div>
<!-- Jai's dummy chat -->