    <div class="fillupform">
        <h1><i class="fas fa-user-plus"></i> Register Form</h1>
        {{!-- {{> partials/messages }}  --}}

        {{#each errors}}
            <li>
  	            {{this.msg}}
  	        </li>
            </br>
        {{/each}}

        <form method="POST" action="/api/register">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstN" placeholder="Your first name">{{firstName}}
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastN" placeholder="Your last name">
            </div>
            <div class="form-group">
                <label for="location">Your zip code</label>
                <input type="number" name="zipcode" id="zip" placeholder="Enter your zipcode">
            </div>
            <div class="form-group">
                <label for="profilePicture">Your picture</label>
                <input type="file" name="picture" id="pic">
            </div> 

            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="userPassword" placeholder="Password">
                <small id="passwordHelp" class="form-text text-muted">Password should be at least 6 characters.</small>

            </div>
            <div class="form-group">
                <label for="inputPasswordConfirm">Confirm your password</label>
                <input type="password" name="password2" class="form-control" id="userPassword" placeholder="Password Confirm">
            </div> 

            <button type="submit" class="btn btn-primary submitButton">Submit</button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
