<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web:700" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css'/>
    <link rel="stylesheet" href="./styles/styles.css" type="text/css" /> 
    <title>Welcome page</title>
</head>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-user-plus"></i></h1>
        <p>Create an account or login</p>
        <a href="/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
</div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="../public/assets/js/script.js"></script>
</body>
</html>  