/* .list-group-item {
  line-height: 2.5;
} */

/* Welcome page styling */
body {
  background-image: url(../styles/images/fairground-1149626_1920.jpg); 
  /* height: cover;
  background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  /* background-attachment: ;  */
}

.navbar {
  font-family: 'Comfortaa', cursive;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

/* #userCat {
  float: left;
  position: static; 
} */

.logo{
  width: 90px;
  margin-left: 20px;
}

#logout-btn {
  margin-right: 20px;
  text-decoration: white;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  
}
#searchbtn {
  background:#e78200;
}

#jumbotron {
  font-family: 'Comfortaa', cursive;
  /* background-image: url(../styles/images/fairground-1149626_1920.jpg); */
  text-shadow: 0 0 .5px rgb(0, 0, 0);
  text-align: center;
  opacity: 0.8;
}

#signUp-btn {
  background:#e78200;
}

/* .fillupform {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}; */

.card {
  font-family: 'Comfortaa', cursive;
  background-color: #f8f9fa;
  /* text-shadow: 0 0 .5px rgb(0, 0, 0); */
  border-color: gray;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

/* Dashboard styling */
.background2 {
  background-color: #f8f9fa;
}
.container {
  font-family: 'Comfortaa', cursive;
  /* display: inline; */
  /* background-color: #6c757d; */
  /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19); */
  /* opacity: 0.8; */
}

#forecast {
  /* background-color: #6c757d; */
  /* opacity: 0.5; */
  /* width: 250px;
  height: 30px; */
  
  align-content: center;
  text-shadow: 1px;
  /* margin-right: 150px; */
}

#profile-card {
  /* margin-left: 150px; */
  text-align: center;
}

#events-card {
  padding-top: 20px;
  /* margin-left: 150px;
  margin-right: 150px; */
  text-align: center;
}

.clickable:hover {
  background-color: #e78200;
  cursor: pointer;
}

.eventCard {
  align-items: center;
  text-align: center;
}

#comment-display {
  background-color: white;
  opacity: 0.8;
}

.comments {
  color: #f8f9fa;
}
